{
  "presets": [
    [
      "env",
      {
        "debug": true,
        "targets": {
          "browsers": ["defaults"]
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
